@import 'src/styles/_vars';

.score {
  position: absolute;
  right: -20rem;
  width: 300px;

  .score-overhall {
    font-size: 42px;
    color: $second-color;
    text-shadow: 0.1em 0.1em 0.2em $primary-color;

    .score-overhall__number {
      color: $number-color;
      text-shadow: 0.1em 0.1em 0.2em $primary-color;
      position: absolute;
      margin-left: 1rem;
    }
  }

  .score-seperate {
    height: 2px;
    background-color: $number-color;
    margin: 2rem 0;
  }

  .score-classification {
    margin-top: 2rem;
    font-size: 20px;
    display: flex;

    .score-classification__number {
      color: $second-color;
    }

    .score-classification__pseudo {
      color: $snake-color;
      margin: 0 .5rem;
    }

    .score-classification__score {
      color: $number-color;
    }
  }
}