@import 'src/styles/_vars';

.menu {
  position: absolute;
  left: -7em;

  .game-area__button {
    background: none;
    border: none;
    color: $snake-color;
  
    .game-area__button__name {
      position: absolute;
      left: 11px;
      bottom: -20px;
      font-size: 1rem;
    }
  }
}
