@import 'src/styles/_vars';

.game-area {
  position: relative;
  margin-top: 50px;
  width: 600px;
  height: 600px;
  border: 2px solid $primary-color;
  background-color: rgb(170, 170, 170);

  .game-area__button {
    position: absolute;
    left: -10em;
  }
}