@import 'src/styles/_vars';

.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: $snake-color;
  border: 1px solid $primary-color;
  z-index: 2;
  box-shadow: 0.1em 0.1em 0.2em rgba($primary-color, 0.5);
}