@import 'src/styles/_vars';

.menu {
  position: absolute;
  left: -10em;
  display: flex;
  flex-direction: column;

  .menu-button__play {
    background: none;
    border: none;
    color: $snake-color;
    position: relative;
  
    .menu-button__play__name {
      position: absolute;
      font-family: 'Lemonada', sans-serif;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1rem;
      text-shadow: 0.1em 0.1em 0.2em $primary-color;
    }
  }

  .menu-seperate {
    height: 2px;
    background-color: $snake-color;
    margin-top: 3rem;
  }

  .menu-difficulty {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4em;
    position: relative;

    .menu-difficulty__name {
      color: $second-color;
      position: absolute;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      text-shadow: 0.1em 0.1em 0.2em $primary-color;
    }

    .menu-difficulty__button__less {
      background: none;
      border: none;
      color: $food-color;
    }

    .menu-difficulty__number {
      position: absolute;
      color: $second-color;
      font-size: 32px;
      left: 50%;
      transform: translateX(-50%);
      top: .3rem;
      text-shadow: 0.1em 0.1em 0.2em $primary-color;
    }
  
    .menu-difficulty__button__more {
      background: none;
      border: none;
      color: $number-color;
      margin-left: 2rem;
    }
  }
}
